header{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 30px;
    background: transparent;
    transition: all ease 1s;
    align-items: center;
    display: flex;
}

#headerContainer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.black {
    background-color: #141414;
}

.categorias{
    margin-left: 100px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    padding-right: 30px;
}

.item {
    color: #999;
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

.item:hover{
    color: #fff;
}

.header--user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.header--logo{
    width: 100px;
    object-fit: cover;
    margin-right: 30px;
}